<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s2"></div>
      <form class="newWorkout col s8">
        <label for="name">Enter Workout:</label>
        <div class="row">
          <div class="col s10">
            <input
              class="validate"
              type="text"
              id="name-input"
              placeholder="Workout Name"
            />
          </div>
          <div class="col s2">
            <button
              class="btn-floating btn-small waves-effect waves-light red"
              type="submit"
            >
              <i class="material-icons">add</i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
