<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width={device-width}, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style.css">
    <title>Document</title>
</head>

<body>

    <!-- user entry div -->
    <div class="user-input">

        <img src="/assets/images/logo.jpg">
        <img src="/assets/images/title.png">

        <div class="workout-entry">
            <form class="new-workout">
                <label for="name">Enter Workout:</label>
                <input type="text" id="reg-name-input" placeholder="Workout Name">
                <button type="submit">Enter</button>
            </form>
        </div>
    </div>

    {{{ body }}}

    <script src="https://code.jquery.com/jquery-3.5.0.min.js"
        integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
    <script src="/assets/js/script.js"></script>
</body>

</html>