.exercise-container input {
  /* border-radius: 5px; */
  background-color: lightseagreen;
  border: none;
}

.exercise-container textarea {
  /* border-radius: 5px; */
  background-color: lightseagreen;
  border: none;
  max-height: 20%;
}

/* input form styling */
.user-input {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 20px auto;
}
.user-input img {
  max-width: 300px;
  margin: 0 auto;
}

.workout-entry {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.new-exercise {
  display: flex;
  flex-direction: column;
}

/* display box styling */
.workout-title {
  width: 100%;
  margin: 5px auto;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}
.workout-title h2 {
  font-size: 2em;
  font-weight: bold;
}

.workout-container {
  margin: 0 auto 20px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 80vw;
  border: 1px solid black;
  min-height: 50px;
  border-radius: 10px;
  background-color: lightcyan;
  box-shadow: 3px 3px 5px black;
}

.work-empty-container {
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.exercise-container {
  flex-direction: column;
  justify-content: start;
  margin: 10px 0px;
  height: auto;
  width: 17%;
  border: 1px solid black;
  padding: 4px;
  border-radius: 5px;
  background-color: lightblue;
  box-shadow: 3px 3px 5px black;
}

.exercise-name {
  font-size: 1.8em;
  font-weight: bold;
  max-width: 95%;
}
.exercise-count {
  display: inline;
  font-size: 1.5em;
  max-width: 95%;
}
.exercise-notes {
  font-size: 1.2em;
  max-width: 95%;
  margin-top: 3px;
}

.empty-exer {
  text-align: center;
}

.workout-wrapper {
  flex-direction: row;
}

.new-exercise {
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.exercise-entry {
  width: 100%;
  padding: 4px;
}

.form-group {
  flex-direction: row;
  justify-content: center;
}

.exer-delete {
  background-color: crimson;
  color: white;
  border-color: crimson;
  margin: 2px;
}

.workout-delete {
  float: right;
  background-color: crimson;
  color: white;
  border-color: crimson;
  margin: 2px;
}

.exer-buttons {
  flex-direction: row;
}
